<center><h3>Score Submitted Successfully</h3><br>

  {{#each scores}}
  <h3>Score card of {{this.cid}} </h3>
  <table border=1 width="50%">
  <tr><th>sec1</th><th>{{this.f1}}</th></tr><tr>
    <th>sec2</th><th>{{this.f2}}</th></tr><tr>
    <th>sec3</th><th>{{this.f3}}</th></tr><tr>
    <th>sec4</th><th>{{this.f4}}</th></tr><tr>
    <th>sec5</th><th>{{this.f5}}</th></tr><tr>
    <th>sec6</th><th>{{this.f6}}</th></tr><tr>
    <th>sec7</th><th>{{this.f7}}</th></tr><tr>
    <th>sec8</th><th>{{this.f8}}</th></tr><tr>
    <th>sec9</th><th>{{this.f9}}</th></tr><tr>
    <th>sec10</th><th>{{this.f10}}</th></tr><tr>
  <th>Total</th><th>{{this.total}}</th></tr><tr>
    <th>Result</th><th>{{this.result}}</th></tr>
    </table>
  {{/each}}
<a href="/reviewer">Home</a>
</center>
